.project-card {
    border: rgba(202, 41, 38, 0.09) 1px solid;
    box-shadow: 1px 1px 10px rgba(202, 41, 38, 0.2);
    margin: 15px 0;
    padding-top: 5px;
    color: #7f8490;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.project-state {
    padding: 10px 20px;
    color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: 15px;
}

.label {
    font-size: 14px;
    margin-bottom: 0;
}
